.staff-container {
  padding: 2rem;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 1rem;
}

.styled-table th {
  background-color: #b4e0fb;
  color: black;
  padding: 12px;
  text-align: left;
  border-bottom: 2px solid #ddd;
}

.styled-table td {
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

.styled-table tr:nth-child(even) {
  background-color: #f9f9f9;
}

.styled-table tr:hover {
  background-color: #f1f1f1;
}

.styled-table button {
  margin-right: 8px;
  padding: 6px 12px;
  font-size: 0.9rem;
  font-weight: bold;
  border: none;
  border-radius: 4px;
  background-color: #90caf9;
  color: black;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.styled-table button:hover {
  background-color: #64b5f6;
}

  
.role-select {
  padding: 6px 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
