.container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 80px;
    background-color: white;
    min-height: 100vh;
    padding: 20px;
}

.wrapper {
    display: flex;
    width: 80%;
    max-width: 1200px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    gap: 20px;
}

.reply {
    width: 50%;
    min-height: 500px;
    padding: 30px;
    background-color: #fffbed;
    border-radius: 10px;
    border: 2px solid #ddd;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.msg{

    width: 50%;
    min-height: 500px;
    padding: 30px;
    background-color: #fffbed;
    border-radius: 10px;
    border: 2px solid #ddd;
    /* //display: flex; */
    flex-direction: column;
    gap: 0px;

}

.heading{
    font-weight: 400;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.subheading{
    font-weight: 400;
    padding-top: -50px;
    margin-block-start: 0px;
    margin-block-end: 0px;
}

.solid{
    border-top:3px solid #ddd;
}

/* */

.textbox {
    width: 100%;
    height: 40px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
}

.textbox:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}


.textarea {
    width: 100%;
    height: 120px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    box-sizing: border-box;
    resize: vertical; 
}

.textarea:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    outline: none;
}


.blued {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 16px;
    cursor: pointer;
    transition: 'background 0.3s ease-in-out';
}

.blued:hover {
    background-color: #0056b3;
}


.form-container {
    background: white;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}
