/* Center the entire login container */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 200px); 
    width: 100%;
}


.login-box {
    width: 24rem;
    padding: 2rem;
    background-color: #fffbed;
    border-radius: 20px;  
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    box-shadow: 0px 6px 15px rgba(0, 0, 0, 0.15);
}


.input-row {
    display: flex;
    align-items: center;
    width: 100%;
    margin-bottom: 8px;
}

.input-row p {
    margin: 0;
    width: 20%;  
    text-align: right; 
    font-size: 0.9rem;
    padding-right: 6px; 
    line-height: normal;
    display: flex;
    align-items: center; 
}


.input-row input {
    width: 65%;
    padding: 6px;
    border-radius: 8px;
    border: 1px solid #ccc;
    font-size: 0.9rem;
    font-family: "serif";
    height: 20px; /* Make sure all inputs have a consistent height */
    display: flex;
    align-items: center; 
}


/* Style the login button */
.login-button {
    font-size: 0.9rem;
    width: 6rem;
    height: 2.2rem;
    border-radius: 12px; 
    border: 2px solid black;/* More rounded button */
    background-color: #d1d1d1;
    color: #333;
    font-weight: bold;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s ease-in-out;
}

.login-button:hover {
    background-color: #9b9b9b;
}

/* Forgot password & Sign Up links */
.forgot-password, .login-box p {
    font-size: 0.85rem;
    margin-top: 10px;
}

.forgot-password a, .login-box p a {
    color: #6300bf;
    text-decoration: none;
}

.forgot-password a:hover, .login-box p a:hover {
    text-decoration: underline;
}

