.pfp.rounded{

    box-sizing: border-box;
    border: 4px solid sandybrown;
    border-radius: 400px / 900px;
    box-shadow: rgba(0, 0, 0, 0.07) -10px 10px 1px 2px;
   
}

.job{
    justify-content: center;
    align-items: flex-start;
}

.bio
{
    padding-top: 3rem;
    display: grid;
    justify-content: center;
    font-size: medium;
    text-align: center;
    
}

.cont{
    height:100px;
}
