
  
  textarea, input {
    width: 100%;
    margin-bottom: 12px;
    padding: 8px;
    font-size: 1rem;
    border-radius: 4px;
    border: 1px solid #ccc;
  }

  button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
  }

  .exam-button {
    background: linear-gradient(135deg, #005ec2, #0059b2);
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: 600;
    margin: 12px 12px 0 0;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    
  }
  
  .exam-button:hover {
    background: rgb(0, 30, 91);
   
  }
  
  .secondary-button {
    background: #f4f4f4;
    color: #333;
    border: 1px solid #ccc;
    box-shadow: none;
  }
  
  .secondary-button:hover {
    background: #e0e0e0;
  }
  
  